/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/.pnpm/next@14.1.0_@babel+core@7.28.5_react-dom@18.2.0_react@18.2.0_sass@1.94.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!../../node_modules/.pnpm/next@14.1.0_@babel+core@7.28.5_react-dom@18.2.0_react@18.2.0_sass@1.94.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!../../node_modules/.pnpm/next@14.1.0_@babel+core@7.28.5_react-dom@18.2.0_react@18.2.0_sass@1.94.0/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!../../node_modules/.pnpm/next@14.1.0_@babel+core@7.28.5_react-dom@18.2.0_react@18.2.0_sass@1.94.0/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/page/Content.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Content_container__ebA3v {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
  /* Firefox */
  scrollbar-width: none;
}
.Content_container__ebA3v ::-webkit-scrollbar {
  display: none;
}

.Content_content__DWjAg {
  width: 100vw;
  max-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
  overflow-y: clip;
  transition: transform cubic-bezier(0.37, 0, 0.01, 1) 2s;
}
.Content_content__DWjAg:not(.Content_loaded__0N4kM) {
  transition: none !important;
  transform: translateY(100vh) !important;
}
@media (max-width: 500px) {
  .Content_content__DWjAg {
    padding-left: 0;
    padding-right: 0;
  }
}
